# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.coverage

# Environments
.env
.env.*
.venv/
venv/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Build/output
build/
dist/
*.egg-info/

# Logs & cache
*.log
.cache/


